<!DOCSTYPE html>
h1{color:powderblue;font-size:40px}
#color {
  font-family: 'Lacquer', sans-serif;
  font-size:100px;
  color: #FD5B78;
}
#clothes {
  font-family: 'Concert One', cursive;
  font-size: 85px;
  color:#FE4C40;
}
