body{
  background-color:#C5D5EA;
  color:#E5B181;
}


h1{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
h2{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
h3{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
h4{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
h5{
  font-family: 'Belleza', sans-serif;
  font-size: 14px;
}
h6{
  font-family: 'Barriecito', cursive;
  font-size: 30px;
  color: #202C59;
}
