
.topnav {
  background-color:#F5F5DC;
;
  overflow: hidden;
}

.topnav a {
  font-family: 'Amiri', serif;
  float: left;
  color: #c17767;
  text-align: center;
  float: ;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color:silver;
  color: beige;

}

.topnav a.active {
  background-color: white;
  color: red;
}

.topnav-right{
  float:right;
}

h1{
text-align:center;
font-size: 9;
font-family: 'Francois One', sans-serif;

}

h2{
text-align:center;
font-weight: normal;
font-size: 14px;
font-family: 'Francois One', sans-serif;

}

h3{
text-align:center;
font-weight:normal;
font-size: 19px;
font-family:'Montserrat', sans-serif;
}

h4{
text-align: center;
font-size: 50px;
font-family:'Amiri', serif;
}
