/*#title {

  font-family: 'Merriweather', serif;
  font-size:55px;
  color:#000000;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  display: inline-block;
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
#nav li{
    display:inline;
}
#one{
  font-family: 'Merriweather', serif;
  font-size:15px;
}
#green{
  font-family: 'Merriweather', serif;
  font-size:45px;
}
#call{
  font-family: 'Merriweather', serif;
  font-size:10px;
} */
/* .lownav {
  background-color: white;
  overflow: hidden;
}

.lownav a {
  font-family: 'Amiri', serif;
  float: right;
  color: #d4af37;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.lownav a:hover {
  background-color:white;
  color: #BDC5CB; */

/* } */
.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */

}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */

}
#green{
font-family: 'Merriweather', serif;
font-size:75px;
}
#hours{
  font-family: 'Lexend Giga', sans-serif;
  font-size: 12px;
  color: lightsteelblue;
}

h2{
  font-family:'Amiri', serif;
}
.topnav {
  background-color: white;
  overflow: hidden;
}

.topnav a {
  font-family: 'Amiri', serif;
  float: left;
  color: #d4af37;
  text-align: center;
  float: ;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.topnav a:hover {
  background-color:white;
  color: #BDC5CB;

}

.topnav a.active {
  background-color: white;
  color: red;
}

.topnav-right{
  float:right;
}

#right  {
  position: relative;
  left: 900px;

}
