#header{
  background: #ffa66b ;
}

#home{
  /* left: 500px; */
  position: absolute;
  top: 118px;
  left:28px;
  width:50px;
  height:50px;


}
#paper{
  position: absolute;
  top: 100px;
  left:116px;
  width:80px;
  height:80px;


}
#grad{
  position: absolute;
  top: 110px;
  left:240px;
  width:56px;
  height:56px;

}
#cal{
  position: absolute;
  top: 106px;
  left:372px;
  width:64px;
  height:64px;

}
#helping{
  position: absolute;
  top: 110px;
  left:520px;
  width:60px;
  height:60px;

}

.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */

}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /*  llback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */

}
#green{
  font-family: 'Merriweather', serif;
  font-size:75px;
  }
#hours{
  font-family: 'Merriweather', serif;
  font-size: 12px;
}

h7{
  font-family:'Amiri', serif;
}
.topnav {
  background-color: #FFFAF0;
;
  overflow: hidden;
}
.parallax {
       background-image: url("sky.jpg");
       height: 500px;
       background-attachment:fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
     }

.topnav a {
  font-family: 'Amiri', serif;
  float: left;
  color: #c17767;
  text-align: center;
  float: ;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color:silver;
  color: beige;

}

.topnav a.active {
  background-color: white;
  color: red;
}

.topnav-right{
  float:right;
}
* {box-sizing:border-box}
var slideIndex = 0;
showSlides();

function showSlides() {
var i;
var slides = document.getElementsByClassName("mySlides");
for (i = 0; i < slides.length; i++) {
  slides[i].style.display = "none";
}
slideIndex++;
if (slideIndex > slides.length) {slideIndex = 1}
slides[slideIndex-1].style.display = "block";
setTimeout(showSlides, 2000); // Change image every 2 seconds
}
#h4 {
  position: absolute;
  right: 480px;
  top: 4160px;
}
#h5 {
  position: absolute;
  right: 530px;
  top: 4156px;
}
/* #soda{
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  border-radius: none;
} */

#h6 {
  position: absolute;
  right:560px;
  top:4154px;
}
#h7{
  position: absolute;
  right: 700px;
  top: 4160px;
}
#h8 {
  position: absolute;
  right: 440px;
  top: 4160px;
}
#h9{
  position: absolute;
  right: 648px;
  top: 4160px;


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  /*position: relative;
  margin: auto;*/
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  /* border-radius: 0 3px 3px 0; */
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  /* border-radius: 3px 0 0 3px; */
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* .pic{
  height: 200px;
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

}

.roundpic{
  border-radius: 0px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  /*padding: 8px 12px;*/
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 100%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
*{
  margin:0;
  padding: 0;
}

html,body{
  height: 100;
}
/* #jar{ */
  /* min-height:100%;
}
#main{
  overflow: auto;
  padding-bottom: 100px;
}
#footer{
  background-color: #000;
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear:both;
} */
.footer-distributed{
	background-color: #ffa66b ;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
