#header{
  background: #ffa66b ;
}
.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */

}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */

}
#green{
font-family: 'Merriweather', serif;
font-size:75px;
}
#hours{
  font-family: 'Merriweather', serif;
  font-size: 12px;
}

h2{
  font-family:'Amiri', serif;
}
.topnav {
  background-color: #FFFAF0;
;
  overflow: hidden;
}

.topnav a {
  font-family: 'Amiri', serif;
  float: left;
  color: #c17767;
  text-align: center;
  float: ;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color:silver;
  color: beige;

}

.topnav a.active {
  background-color: white;
  color: red;
}

.topnav-right{
  float:right;
}


var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
