body{
  background-color:#454545;
  color:#D5C7BC;
}
h1{
  font-family: 'Barriecito', cursive;
  font-size: 30px;

}
h2{
  font-family: 'Belleza';
  font-size: 20px;
  text-decoration: none;
}
h3{
  font-family: 'Fredericka the Great', cursive;
  font-size: 14px;

}
h4{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 14px;

}
