#nav {
WIDTH:750px;
margin:0 auto;
list-style: none;
  /* display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  display: inline-block;
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center; */
}
#nav li{
float:left;
    /* display:inline; */
}
#nav a{
display:block;
text-align:center;
width:150px;
text-decoration: none;
    /* display:inline-block;
    padding:10px; */
}
