h1{
  font-family: '', sans-serif;
  font-size: 35px;
}

#oof{
  color:white;
}
#header {
  padding: 1px;
  text-align: center;
  background: #e3ae4d;
  color:white;


  font-size: 15px;
}

.body{

    padding: 60px;
    text-align: center;
    background: #e3634d;
    color: white;
    font-size: 45px;
}
.topnav {
  background-color:#e3ae4d;
;
  overflow: hidden;
}

.topnav a {
  font-family: 'Amiri', serif;
  float: left;
  color: #c17767;
  text-align: center;
  float: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 28px;
}

.topnav a:hover {
  background-color:silver;
  color: beige;

}

.topnav a.active {
  background-color: white;
  color: red;
}

.topnav-right{
  float:right;
}
