/* body{
  background-image: url("flower.png");
  background-repeat: no-repeat;
  text-align: bottom left;
  border-radius: 50%; */
h2{
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
}
h3{
  background-image: url("mar.jpg");
  background-size: cover;
}
.boxed {
  background-color:white;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 50px;
}
/* .topnav input[type=text] {
  padding: 40px;
  float: right;
  padding: 10px;
  border: pink;
  margin-top: 20px;
  margin-right: 18px;
  font-size: 18px;
}



/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
/* @media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    background-color:orange;
    float: none;
    display: block;
    text-align: left;
    width: 200%;
    margin: 0;
    padding: 16px;
  } */
  /* .topnav input[type=text] {
    border: 1px solid #ccc;
  } */
}
/* input[type=text] {
  width: 200px;
}
input[type=text]:focus {
  } */



}

#medical{
  border-radius: 50%

#women{
  border-radius: 50%
}

}
/* #lo{
  position: absolute;
  left: 200px;
}
#help{
  position:absolute;
  left: 800px; */
}

html, body {
  width: 50%;
  height: 50%;
}

body {
  background: aliceblue;
}

.

/* When the input field gets focus, change its width to 100% */
